%{require_erts_vsn, "6.0"}.
%{require_otp_vsn, "17"}.
%{require_min_otp_vsn, "17"}.

{erl_opts, [{parse_transform, lager_transform}]}.

{deps_dir, "deps"}.

{deps, [
	{lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
	{ami, ".*", {git, "https://github.com/ekiaa/ami.git", {branch, "develop"}}},
	{ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
	{websocket_client, ".*", {git, "https://github.com/jeremyong/websocket_client.git", {branch, "master"}}},
	{jsonx, ".*", {git, "https://github.com/iskra/jsonx.git", {branch, "master"}}}
]}.

{lib_dirs, []}.

{sub_dirs, [
	"rel",
	"apps/amrd"]}.