[
	%% SASL config
	{sasl, [
		{sasl_error_logger, {file, "log/sasl-error.log"}},
		{errlog_type, error},
		{error_logger_mf_dir, "log/sasl"},      % Log directory
		{error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
		{error_logger_mf_maxfiles, 5}           % 5 files max
	]},

	%% Lager
	{lager, [
		{handlers, [
			{lager_console_backend, [debug, {lager_default_formatter, [date," ",time," [",severity,"] (",pid,") ",module,":",line," => ",message,"\n"]}]},
			{lager_file_backend, [{file, "/var/log/amrd/amrd_debug.log"}, {level, debug}, {formatter, lager_default_formatter},
				{formatter_config, [date, " ", time," [",severity,"] (",pid,") ",module,":",line," => ",message,"\n"]}]}
		]}
	]},

	%% Inets
	{inets, [
		{services, [
			{httpd, [{proplist_file, "etc/httpd.conf"}]}
		]}
	]},

	%% AMRD
	{amrd, [
		{ami_host, "127.0.0.1"},
		{ami_port, 5038},
		{ami_username, <<"asterisk">>},
		{ami_secret, <<"asterisk">>},
		{ari_host, "127.0.0.1"},
		{ari_port, 8088},
		{ari_username, "asterisk"},
		{ari_secret, "asterisk"},
		{fwdpeer, <<"fwdphone">>}
	]}
].

